.admin-sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
  
    .sidebar-header {
      padding: 1rem 1.5rem;
      background-color: #222;
      text-align: center;
      h3 {
        font-size: 1.2rem;
        margin: 0;
      }
    }
  
    .sidebar-links {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
  
      li {
        a {
          text-decoration: none;
          color: #fff;
          padding: 0.5rem 1.5rem;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #222;
          }
        }
      }
    }
  }
  

